@font-face {
  font-family: 'Neo Sans Std';
  src:
    url('NeoSansStd-Bold.woff2') format('woff2'),
    url('NeoSansStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Th';
  src:
    url('ProximaNovaT-Thin.woff2') format('woff2'),
    url('ProximaNovaT-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src:
    url('ProximaNova-Regular.woff2') format('woff2'),
    url('ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Alt Th';
  src:
    url('ProximaNovaA-Thin.woff2') format('woff2'),
    url('ProximaNovaA-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Alt Lt';
  src:
    url('ProximaNovaA-Light.woff2') format('woff2'),
    url('ProximaNovaA-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
